:root
{
	--main_color : #eaeaea;
	--secondary_color : #fff;

	--border_color : #c1c1c1;

	--main_text: black;
	--secondary_text : #4b5156;

	--theme_dot_border : #24292e;

	--preview_bg : rgb(251, 249, 243, 0.8);
	--preview_shadow : #f0ead6;

	--button_color : black;
}


html, body
{
	padding: 0;
	margin: 0;
}

body *
{
	transition: 0.3s;
}

h1,h2,h3,h4,h5,h6,strong
{
	color: var(--main_text);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea
{
	color: var(--main_text);
	font-family: 'Roboto Mono', monospace;
}

a
{
	text-decoration: none;
	color: #17a2b8;
}

ul
{
	list-style: none;
}

h1
{
	font-size: 56px;
}
h2
{
	font-size: 36px;
} 
h3
{
	font-size: 28px;
}

h4
{
	font-size: 24px;
} 
h5
{
	font-size: 20px;
}
h6
{
	font-size: 16px;
}

.s1
{
	background-color: var(--main_color);
	border-bottom: 1px solid var(--border_color);
	overflow: auto;
}


.s2
{
	background-color: var(--secondary_color);
	border-bottom: 1px solid var(--border_color);
	overflow: auto;
}

.sec-time-line
{
	background-color: var(--secondary_color);
	border-bottom: 1px solid var(--border_color);
}

.main-container
{
	width: 1200px;
	margin: 0 auto;
}
.greeting-wrapper
{
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 20em;
}
.intro-wrapper
{
	background-color: var(--secondary_color);
	border: 1px solid var(--border_color);
	border-radius: 8px 8px 0 0;

	box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
	-webkit-box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
	-moz-box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em 30em;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}
.nav-wrapper
{
	border-radius: 8px 8px 0 0;
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--border_color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main_color);
}

#navigation a
{
	color: var(--main_text);
}

#navigation
{
	margin: 0;
	padding: 10px;

}

#navigation li
{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.dots-wrapper
{
	display: flex;
	padding: 10px;
}
.browser-dot
{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;
	box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
	-webkit-box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
	-moz-box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
}

#dot-1
{
	background-color: #FC6058;
}
#dot-2
{
	background-color: #FEC02F;	
}
#dot-3
{
	background-color: #2ACA3E;	
}

#profile_pic
{
	display: block;
	margin: 0 auto;

	height: 200px;
	width: 200px;
	object-fit: cover;
	border: 2px solid var(--border_color);
}

#theme-options-wrapper
{
	display: flex;
	justify-content: center;
}

.theme-dot
{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50px;
	margin: 5px;

	border: 2px solid var(--theme_dot_border);

	box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
	-webkit-box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
	-moz-box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
}

.theme-dot:hover
{
	border-width: 5px;
}

#light-mode
{
	background-color: #FFF;
}

#blue-mode
{
	background-color: #192734;
}

#green-mode
{
	background-color: #78866b;
}

#purple-mode
{
	background-color: #7E4C74;
}
#settings-note
{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.left-column
{
	grid-area: left-column;
	padding-top: 50px;
	padding-bottom: 50px;
}
.right-column
{
	grid-area: right-column;
	display: grid;
	align-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#preview-shadow
{
	background-color: var(--preview_shadow);
	width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview
{
	width: 300px;
	border: 1.5px solid #17A2B8;
	background-color: var(--preview_bg);	
	padding: 15px;
	position: relative;
}

.corner
{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1.5px solid #17A2B8;
	background-color: #FFF;
	position: absolute;
}
#corner-tl
{
	top: -5px;
	left: -5px;
}
#corner-tr
{
	top: -5px;
	right: -5px;
}
#corner-bl
{
	bottom: -5px;
	left: -5px;
}
#corner-br
{
	bottom: -5px;
	right: -5px;
}

.about-wrapper
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-top: 50px;
	padding-bottom: 50px;
	gap: 100px;
}

#skills
{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--preview_shadow);
}

.social-links
{
	display: grid;
	align-content: center;
	text-align: center;
}


/* TIMELINE CSS */
.timeline 
{
	white-space: nowrap;
	overflow-x: scroll;
	padding: 30px 0 10px 0;
	position: relative;
}

::-webkit-scrollbar{
	height: 4px;
	width: 4px;
	background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
	background: #000;
	border-radius: 10px;
}
  
.entry 
{
	display: inline-block;
	vertical-align: top;
	background: var(--preview_shadow);
	color: var(--secondary_color);
	padding: 45px;
	font-size: 12px;
	text-align: center;
	position: relative;
	border-top: 4px solid #06182E;
	border-radius: 3px;
	min-width: 300px;
	max-width: 600px;
}
  
.entry:after 
{
	content: '';
	display: block;
	background: #eee;
	width: 7px;
	height: 7px;
	border-radius: 6px;
	border: 3px solid var(--theme_dot_border);
	position: absolute;
	left: 50%;
	top: -30px;
	margin-left: -6px;
}
  
.entry:before 
{
	content: '';
	display: block;
	background: #06182E;
	width: 5px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: -20px;
	margin-left: -2px;
}
    
.bar 
{
	height: 4px;
	background: #eee;
	width: 100%;
	position: relative;
	top: 13px;
	left: 0;
}

.post
{
	box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
	-webkit-box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);
	-moz-box-shadow: -8px 7px 16px -6px rgba(0,0,0,0.65);	
}


.post-wrapper
{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	padding-bottom: 50px;
}

.post-preview
{
	background-color: #FFF;
	padding: 15px;
}

.post-title
{
	color: black;
	margin: 0;
}

.post-intro
{
	color: #4B5156;
	font-size: 16px;
}

.thumbnail
{
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;
}

#submit-btn
{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF;
	background-color: var(--button_color);
	border: none;
}

#contact-form
{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--border_color);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--main_color);
	margin-bottom: 50px;
}

#contact-form label
{
	line-height: 2.7em;
}


#contact-form textarea
{
	min-height: 100px;
	font-size: 14px;
}


.input-field
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--secondary_color);
	border-radius: 5px;
	border: 1px solid var(--border_color);
	font-size: 14px;
}


@media screen and (max-width: 1200px)
{
	.main-container
	{
		width: 95%;
	}

	.timeline
	{
		overflow: auto;
	}
}

@media screen and (max-width: 800px)
{
	.intro-wrapper
	{
		grid-template-columns: 1fr;
		grid-template-rows: 3em 30em;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
		overflow: hidden;

	}

	.right-column
	{
		justify-content: center;
	}
}
/* @media screen and (max-width: 1200px)
{

} */